extends ../layouts/main.pug

block link
  link(href='/css/shopping_cart.css', rel='stylesheet')

block main
  .col-sm-10
    .wrapper.cf
      .heading.cf
        h1 My Cart
        |  
        a.continue(href='/shop_men') Continue Shopping
      - var subTotalPrice = 0
        .cart
          table
            tr.tableHead
              td Product
              td Quantity
              td Unit Price
              td Total
              td
            each item in cart
              tr
                td.item
                  img.itemImg(src= item.product.smImgUrl[0], alt='')
                  p.itemNumber= item.id
                  h3= item.product.name
                td
                  p.qty= item.amount
                td
                  p= item.product.price + 'VND'
                td.prodTotal.cartSection
                  - function calcItemPrice(){var itemTotalPrice = item.product.price * item.amount; subTotalPrice += itemTotalPrice; return itemTotalPrice;};
                    p= calcItemPrice()
                td.cartSection.removeWrap
                  a.remove(href='#') x
          //- ul.tableHead
          //-   li.prodHeader Product
          //-   li Quantity
          //-   li Total
          //-   li Remove
          //- ul.cartWrap
          //-   each item in cart
          //-     li.items.odd
          //-       .infoWrap
          //-         .cartSection
          //-           img.itemImg(src= item.product.smImgUrl[0], alt='')
          //-           p.itemNumber= item.id
          //-           h3= item.product.name
          //-           p
          //-             span.qty= item.amount + ' x ' + item.product.price + ' VND'
          //-         .prodTotal.cartSection
          //-           - function calcItemPrice(){var itemTotalPrice = item.product.price * item.amount; subTotalPrice += itemTotalPrice; return itemTotalPrice;};
          //-             p= calcItemPrice()
          //-         .cartSection.removeWrap
          //-           a.remove(href='#') x
        .promoCode
          label(for='promo') Have A Promo Code?
          input(type='text', name='promo', placholder='Enter Code')
          a.btn(href='#')
        .subtotal.cf
          ul
            li.totalRow.final
              span.label Subtotal
              span.value= subTotalPrice
            li.totalRow
              a.btn.continue(href='#') Checkout

