extends ../layouts/main.pug

block link
  link(href='/css/shopping_cart.css', rel='stylesheet')

block main
  
  .col-sm-10
    .wrapper.cf
      .heading.cf
        if products
          h1 My Cart
          |  
          a.continue(href='/shop_men') Continue Shopping
          .cart
            table
              tr
                td Product
                td Quantity
                td Unit Price
                td Total
                td
              each item in products
                tr
                  td.item
                    img.itemImg(src= item.item.smImgUrl[0], alt='')
                    .info-block
                      p.itemNumber= '#' + item.item.id
                      h3= item.item.name
                  td
                    p.qty= item.qty
                  td
                    p= item.item.price + 'VND'
                  td.prodTotal.cartSection
                    //- - function calcItemPrice(){var itemTotalPrice = item.product.price * item.amount; subTotalPrice += itemTotalPrice; return itemTotalPrice;};
                    p= item.price
                  td.cartSection.removeWrap
                    a.remove(href='#') x
          .promoCode
            label(for='promo') Have A Promo Code?
            input(type='text', name='promo', placholder='Enter Code')
            a.btn(href='#')
          .subtotal.cf
            ul
              li.totalRow.final
                span.label Subtotal
                span.value= totalPrice
              li.totalRow
                a.btn.continue(href='#') Checkout
        else
          h1 Your cart is empty
          |
          a.continue(href='/shop_men') Continue Shopping
            

